.ll{
position: absolute;
width: 612.73px;
height: 245.88px;
left: 252.82px;
top: 260.76px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 63.4539px;
line-height: 83px;
color: #242323;
}
.ii{
position: absolute;
width:623.06px;
height: 615.7px;
left: 899.29px;
top: 185.4px;
background: url(.png);
}
.pp{
position: absolute;
width: 626.61px;
height: 93.2px;
left: 252.82px;
top: 538.37px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
color: #6C6C6A;
}
.bb{
position: absolute;
width: 202.26px;
height: 72.38px;
left: 252.82px;
top: 681.14px;
background: #45B871;
box-shadow: 0px 7.93174px 79.3174px rgba(9, 188, 77, 0.2);
border-radius: 4.95734px;
}
.aa{
color: white;
text-decoration: none;
}
.box{
position: absolute;
width: 66.43px;
height: 66.43px;
left: 484.83px;
top: 684.11px;
background: #FFFFFF;
box-shadow: 0px 7.93174px 39.6587px rgba(69, 184, 113, 0.2);
border-radius: 60.4795px;
}
.ds{
margin: 20px 26px;
}
.lp{
position: absolute;
width: 99.15px;
height: 17.85px;
left: 566.13px;
top: 692.87px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 19.8294px;
line-height: 15px;
color: #242323;
}
.mm{
position: absolute;
width: 336.11px;
height: 93.2px;
left: 253.82px;
top: 978.58px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 35.6928px;
line-height: 50px;
color: #575859;
}
.qq{
position: absolute;
width: 188.02px;
height: 53.36px;
left: 743.6px;
top: 1018.37px;
background: url(udemy-logo.png);
}
.nn{
position: absolute;
width: 258.77px;
height: 117.98px;
left: 931.98px;
top: 988.37px;
background: url(.png);
}
.ss{
position: absolute;
width: 158.37px;
height: 87.87px;
left: 1221.49px;
top: 1007.17px;
background: url(.png);
}
.sas{
position: absolute;
width: 225.63px;
height: 83.28px;
left: 1449.53px;
top: 999.31px;
background: url(microsoft_PNG4.png);
}
.cvb{
position: absolute;
width: 492px;
height: 477px;
left: 189px;
top: 1259px;
background: rgba(9, 188, 77, 0.2);
border-radius: 20px;
}
.mlp{
position: absolute;
width: 489px;
height: 472.5px;
left: 0px;
top: 0px;
border: 3px solid #95CDDC;
border-radius: 20px;
}
.oio{
position: absolute;
width: 255px;
height: 225px;
left: 255px;
top: 1331px;
background: #FFFFFF;
box-shadow: 5px 5px 100px rgba(87, 88, 89, 0.1);
border-radius: 10px;
}
.qaz{
position: absolute;
width: 74px;
height: 74px;
margin: 60px 90px;
}
.q1{
position: absolute;
width: 17px;
height: 26px;
margin: 84px 119px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 25px;
color: #ffffff;
}
.ooo{
position: absolute;
width: 209px;
height: 20px;
margin: 170px 40px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 15px;
color: #242323;
}
.pop{
position: absolute;
width: 255px;
height: 225px;
left: 255px;
top: 1591px;
background: #ffffff;
box-shadow: 5px 5px 100px rgba(87, 88, 89, 0.1);
border-radius: 10px;
}
.oor{
position: absolute;
width: 209px;
height: 20px;
margin: 170px 70px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 15px;
color: #242323;
}
.iio{
position: absolute;
width: 255px;
height: 225px;
left: 535px;
top: 1361px;
background: #ffffff;
box-shadow: 5px 5px 100px rgba(87, 88, 89, 0.1);
border-radius: 10px;
}
.iii{
position: absolute;
width: 255px;
height: 225px;
left: 535px;
top: 1611px;
background: #18800e;
box-shadow: 5px 5px 100px rgba(87, 88, 89, 0.1);
border-radius: 10px;
}
.qzz{
position: absolute;
width: 74px;
height: 74px;
margin: 60px 90px;
}
.q2{
position: absolute;
width: 17px;
height: 26px;
margin: 84px 119px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 25px;
color: #000000;
}
.oop{
position: absolute;
width: 209px;
height: 20px;
margin: 170px 60px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 15px;
color: #ffffff;
}
.h0{
position: absolute;
width: 416px;
height: 146px;
left: 1047px;
top: 1224px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 58px;
line-height: 74px;
color: #242323;
}
.p0{
position: absolute;
width: 611px;
height: 222px;
left: 1047px;
top: 1500px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #8C8E91;
}
.plp{
position: absolute;
width: 58px;
height: 58px;
left: 1050px;
top: 1772px;
background: #DDEEF2;
box-shadow: 0px 6.34375px 18.125px rgba(149, 205, 220, 0.2);
border-radius: 60px;
}
.nnn{
position: absolute;
width: 22.15px;
height: 22.15px;
left: 1071px;
top: 1790.15px;
border-radius: 0.5px;
}
.zxcv{
position: absolute;
width: 168px;
height: 32px;
left: 1126px;
top: 1785px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
text-decoration-line: underline;
color: #242323;
}